fixed_vgg.npy
__pycache__/
*.swp
*.swo
*~
scripts/*.pb
scripts/runs/
*_venv
*-venv

tmp/
datasets/
.idea/
.ipynb_checkpoints/
runs/
result/
ckpts/
input_images/*.jpg
input_images/*.png
cartoon_gan/output_images/*
**/training_checkpoints/
models/
light_model/
out/

**/*.npy
.DS_Store
**/*.tgz
old_train.py

clean.sh
optimized_pbs/

cartoon_gan/input_images
cartoon_gan/output_images
*.egg-info

